
/* ---------------------------Tags------------------------------------------- */
html,body{
  height:100%;
  font-family: "Montserrat","Helvetica Neue",helvetica,arial,sans-serif;
}
body{
  background-color: #f2f2f2;
}
h1{
  color: #000;
  margin: 0;
}

/* ---------------------------Classes---------------------------------------- */
.game_header{
  background-color: #F4653F;
  height: 10vh;
}
.game_header > h1{
  color: white;
}
.game_details_header{
  height: 10vh;
  background-color: #F35329;
}
.game_details_header > h2{
  font-size: 1.5rem;
  color: white;
}
.game_details_header > button{
  background-color: #333333;
  border: #333333;
}
.game_players_names{
  height: 10vh;
  background-color: #F35329;
}
.game_players_names > h2{
  font-size: 1.5rem;
  color: white;
}
.game_loader_bar{
  height: 5vh;
}
.game_details_main{
  height: 70vh;
  background-color: #F35329;
}
.game_details_main > h2{
  color: white;
}
.game_details_main > h5{
  color: white;
  text-align: justify;
}
.game_main{
  height: 80vh;
  background-color: #F35329;
}
.topic_label{
  color: white;
}
.difficulty_label{
  color: white;
}
.getready_header{
  background-color: #FFFFFF;
  height: 10vh;
}
.game_loader_bar{
  height: 1.5vh;
  background-color: #FFFFFF;
}
.game_qns_title_main{
  height: 78.5vh;
  background-color: #FFFFFF;
}
.game_player_turn{
  height: 10vh;
}
.game_answering_header{
  height: 10vh;
  background-color: white;
}
.game_answering_details{
    height: 50vh;
}
.game_answering_details > button{
  font-weight: bold;
}
.game_answering_options_1{
  height: 15vh;
}
.game_answering_options_2{
  height: 15vh;
}
.game_footer{
  height: 10vh;
  background-color: #F35329;
}
.game_footer > button{
  background-color: #333333;
  border: #333333;
}
.game_win_points{
  height: 10vh;
  background-color: #1368CE;
}
.game_win_points > h2{
  color: white;
}
.p-main{
  padding: .5rem;
}
.p-footer{
  padding: 1rem;
}
.btn{
  font-size: 1rem;
}
.form-control{
  font-size: 1.5rem;
  padding: 0;
}
.border_timer{
  background-color: #864CBF;
  border-radius: 50%;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  color: #ffffff;
  display: inline-block;
  font-weight: bold;
  line-height: 2.5em;
  text-align: center;
  width: 2.5em;
}
.answering_qns_img{
  height: 200px;
  width: 200px;
}
.answering_option1{
  background-color: #E21B3C;
  width: 100vh;
  margin-right: .25rem;
  /* font-size: 1.7rem; */
}
.answering_option1:active{
  box-shadow: 0 5px black;
  transform: translateY(4px);
}
.answering_option2{
  background-color: #1368CE;
  width: 100vh;
  margin-left: .25rem;
  /* font-size: 1.7rem; */
}
.answering_option2:active{
  box-shadow: 0 5px black;
  transform: translateY(4px);
}
.answering_option3{
  background-color: #D89E00;
  /* color: white; */
  width: 100vh;
  margin-right: .25rem;
  /* font-size: 1.7rem; */
}
.answering_option3:active{
  box-shadow: 0 5px black;
  transform: translateY(-4px);
}
.answering_option4{
  background-color: #298F0D;
  /* color: white; */
  width: 100vh;
  margin-left: .25rem;
  /* font-size: 1.7rem; */
}
.answering_option4:active{
  box-shadow: 0 5px black;
  transform: translateY(-4px);
}
.game_answering_options_1 > .answering_option1:hover{
  background-color: #f16f5c;
}
.game_answering_options_1 > .answering_option2:hover{
  background-color: #388ced;
}
.game_answering_options_2 > .answering_option3:hover{
  background-color: #EBC14E;
}
.game_answering_options_2 > .answering_option4:hover{
  background-color: #62C447;
}
.game_result_header{
  height: 10vh;
  background-color: white;
}
.game_result_header > h5{
  font-size: 1rem;
  padding-right: .5rem;
}
.game_result_main{
  height: 90vh;
}
.game_result_p1{
  width: 100vh;
  background-color: #3F51B5;
  color: white;
}
.game_result_p2{
  width: 100vh;
  background-color: #4CAF50;
  color: white;
}
.result_name_header{
  height: 10vh;
}
.result_name_header > h5{
  font-weight: bold;
}
.result_stats{
  height: 70vh;
}
.result_stats > h5{
  font-weight: bold;
}
.result_stats > button{
  background-color: #333333;
  border: #333333;
}
.result_p1_pts{
  height: 10vh;
  width: 100%;
  background-color: #1A237E;
}
.result_p1_pts > h5{
  font-weight: bold;
  margin: 0;
}
.result_p2_pts{
  height: 10vh;
  width: 100%;
  background-color: #1B5E20;
}
.result_p2_pts > h5{
  font-weight: bold;
  margin: 0;
}
.scoreboard_header{
  height: 10vh;
  background-color: white;
}
.scoreboard_nextbt{
  height: 10vh;
  background-color: #f5a23d;
}
.scoreboard_nextbt > button{
  background-color: #45a3e5;
  border: #45a3e5;
  font-size: 1.5rem;
}
.scoreboard_main{
  height: 80vh;
  background-color: #f5a23d;
}
.scoreboard_p1{
  background-color: white;
  width: 60%;
}
.scoreboard_p1 > h5{
  font-weight: bold;
  font-size: 1.5rem;
}
.scoreboard_p2{
  background-color: white;
  width: 60%;
}
.scoreboard_p2 > h5{
  font-weight: bold;
  font-size: 1.5rem;
}
.gameover_header{
  height: 10vh;
  background-color: #461f8d;
}
.gameover_header > h1{
  color: white;
  font-weight: bold;
}
.gameover_buttons{
  height: 20vh;
  background-color: #5133a5;
}
.gameover_buttons > button{
  background-color: #ff4081;
  border: #ff4081;
  font-weight: bold;
}
.gameover_podium{
  height: 70vh;
  background-color: #5133a5;
}
.podium_2nd_place{
  width: 100vh;
  height: 70vh;
}
.podium_2nd_place > h5{
  background-color: #461f8d;
  width: 80%;
  height: 10%;
  color: white;
  font-weight: bold;
}
.podium_1st_place{
  width: 100vh;
  height: 70vh;
}
.podium_1st_place > h5{
  background-color: #461f8d;
  width: 80%;
  height: 10%;
  color: white;
  font-weight: bold;
}
.second_place_boxed{
  background-color: #8550bc;
  border: 3px solid #8550bc;
  height: 60%;
  width: 80%;
  padding-bottom: .5rem;
}
.second_place_boxed > h5{
  color: white;
}
.podium_1st_points{
  font-weight: bold;
}
.first_place_boxed{
  background-color: #8550bc;
  border: 3px solid #8550bc;
  height: 80%;
  width: 80%;
  padding-bottom: .5rem;
}
.first_place_boxed > h5{
  color: white;
}
.podium_2nd_points{
  font-weight: bold;
}
.p-10{
  padding-bottom: 2rem;
}
.podium_gold_medal{
  margin-right: .5rem;
  height: 40px;
  width: 40px;
}
.podium_silver_medal{
  margin-right: .5rem;
  height: 40px;
  width: 40px;
}



/* ---------------------------Game States Display--------------------------------------------- */
#set_player_details_state{
  display: inline;
}
#set_game_details_state{
  display: none;
}
#display_game_details_state{
  display: none;
}
#get_ready_qns_state{
  display: none;
}
#answering_qns_state{
  display: none;
}
#result_qns_state{
  display: none;
}
#result_p1_reveal{
  display: none;
}
#result_p2_reveal{
  display: none;
}
#score_board_state{
  display: none;
}
#gameover_state{
  display: none;
}
#player1_nickname{
  padding-left: 1%;
}
#player2_nickname{
  padding-left: 1%;
}
#answering_option1{
  color: white;
  font-size: 1.7rem;
}
#answering_option2{
  color: white;
  font-size: 1.7rem;
}
#answering_option3{
  color: white;
  font-size: 1.7rem;
}
#answering_option4{
  color: white;
  font-size: 1.7rem;
}
#answering_option1_correct_emoji{
  /* visibility: hidden; */
  display: none;
  height: 40px;
  width: 40px;
  margin-left: .5rem;
}
#answering_option1_wrong_emoji{
  /* visibility: visible; */
  display: none;
  height: 40px;
  width: 40px;
  margin-left: .5rem;
}
#answering_option2_correct_emoji{
  /* visibility: hidden; */
  display: none;
  height: 40px;
  width: 40px;
  margin-left: .5rem;
}
#answering_option2_wrong_emoji{
  /* visibility: visible; */
  display: none;
  height: 40px;
  width: 40px;
  margin-left: .5rem;
}
#answering_option3_correct_emoji{
  /* visibility: hidden; */
  display: none;
  height: 40px;
  width: 40px;
  margin-left: .5rem;
}
#answering_option3_wrong_emoji{
  /* visibility: visible; */
  display: none;
  height: 40px;
  width: 40px;
  margin-left: .5rem;
}
#answering_option4_correct_emoji{
  /* visibility: hidden; */
  display: none;
  height: 40px;
  width: 40px;
  margin-left: .5rem;
}
#answering_option4_wrong_emoji{
  /* visibility: visible; */
  display: none;
  height: 40px;
  width: 40px;
  margin-left: .5rem;
}


/* ---------------------------Media Queries---------------------------------- */
/* Extra small devices (portrait phones, less than 576px)
No media query since this is the default in Bootstrap */

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {  }

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .p-main{
    padding: 5rem 7rem 5rem 7rem;
  }
  h1{
    font-size: 3rem;
  }
  h2{
    font-size: 2.5rem;
  }
  .game_details_header > h2{
    font-size: 2.5rem;
  }
  .game_header > h5{
    font-size: 2.5rem;
  }
  .game_player_turn > h5{
    font-size: 2.5rem;
  }
  .game_players_names > h2{
    font-size: 2.5rem;
  }
  .game_details_main > h5{
    font-size: 2rem;
  }
  .game_answering_details > h5{
    font-size: 2rem;
  }
  .border_timer{
    background-color: #864CBF;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    color: #ffffff;
    display: inline-block;
    font-weight: bold;
    line-height: 2.5em;
    text-align: center;
    width: 2.5em;
  }
  .answering_qns_img{
    height: 400px;
    width: 500px;
  }
  .btn{
    font-size: 2rem;
  }
  /* .answering_option1{
    font-size: 3rem;
  }
  .answering_option2{
    font-size: 3rem;
  }
  .answering_option3{
    font-size: 3rem;
  }
  .answering_option4{
    font-size: 3rem;
  } */
  #answering_option1{
    font-size: 3rem;
  }
  #answering_option2{
    font-size: 3rem;
  }
  #answering_option3{
    font-size: 3rem;
  }
  #answering_option4{
    font-size: 3rem;
  }
  #answering_option1_correct_emoji{
    height: 60px;
    width: 60px;
  }
  #answering_option1_wrong_emoji{
    height: 60px;
    width: 60px;
  }
  #answering_option2_correct_emoji{
    height: 60px;
    width: 60px;
  }
  #answering_option2_wrong_emoji{
    height: 60px;
    width: 60px;
  }
  #answering_option3_correct_emoji{
    height: 60px;
    width: 60px;
  }
  #answering_option3_wrong_emoji{
    height: 60px;
    width: 60px;
  }
  #answering_option4_correct_emoji{
    height: 60px;
    width: 60px;
  }
  #answering_option4_wrong_emoji{
    height: 60px;
    width: 60px;
  }
  .game_answering_header > h5{
    font-size: 2rem;
  }
  .game_result_header > h5{
    font-size: 2rem;
  }
  .result_name_header > h5{
    font-size: 2rem;
  }
  .result_stats > h5{
    font-size: 2rem;
  }
  .result_p1_pts > h5{
    font-size: 2rem;
  }
  .result_p2_pts > h5{
    font-size: 2rem;
  }
  .scoreboard_nextbt > button{
    font-size: 2rem;
  }
  .scoreboard_p1 > h5{
    font-size: 2rem;
  }
  .scoreboard_p2 > h5{
    font-size: 2rem;
  }
  .podium_2nd_place > h5{
    font-size: 2rem;
  }
  .podium_1st_place > h5{
    font-size: 2rem;
  }
  .podium_gold_medal{
    margin-right: 1rem;
    height: 74px;
    width: 74px;
  }
  .podium_silver_medal{
    margin-right: 1rem;
    height: 74px;
    width: 74px;
  }
  .first_place_boxed > h5{
    font-size: 2rem;
  }
  .second_place_boxed > h5{
    font-size: 2rem;
  }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  h1{
    font-size: 3.5rem;
  }
  h2{
    font-size: 3rem;
  }
  .game_details_header > h2{
    font-size: 3rem;
  }
  .game_header > h5{
    font-size: 3.5rem;
  }
  .game_player_turn > h5{
    font-size: 3.5rem;
  }
  .game_players_names > h2{
    font-size: 3rem;
  }
  .game_details_main > h5{
    font-size: 2.5rem;
  }
  .btn{
    font-size: 2.5rem;
  }
  /* .answering_option1{
    font-size: 4rem;
  }
  .answering_option2{
    font-size: 4rem;
  }
  .answering_option3{
    font-size: 4rem;
  }
  .answering_option4{
    font-size: 4rem;
  } */
  #answering_option1{
    font-size: 4rem;
  }
  #answering_option2{
    font-size: 4rem;
  }
  #answering_option3{
    font-size: 4rem;
  }
  #answering_option4{
    font-size: 4rem;
  }
  #answering_option1_correct_emoji{
    height: 80px;
    width: 80px;
  }
  #answering_option1_wrong_emoji{
    height: 80px;
    width: 80px;
  }
  #answering_option2_correct_emoji{
    height: 80px;
    width: 80px;
  }
  #answering_option2_wrong_emoji{
    height: 80px;
    width: 80px;
  }
  #answering_option3_correct_emoji{
    height: 80px;
    width: 80px;
  }
  #answering_option3_wrong_emoji{
    height: 80px;
    width: 80px;
  }
  #answering_option4_correct_emoji{
    height: 80px;
    width: 80px;
  }
  #answering_option4_wrong_emoji{
    height: 80px;
    width: 80px;
  }
  .game_details_main > h5{
    font-size: 2.5rem;
  }
  .game_answering_details > h5{
    font-size: 3rem;
  }
  .border_timer{
    background-color: #864CBF;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    color: #ffffff;
    display: inline-block;
    font-weight: bold;
    line-height: 2.5em;
    text-align: center;
    width: 2.5em;
  }
  .answering_qns_img{
    height: 500px;
    width: 700px;
  }
  .game_answering_header > h5{
    font-size: 2.5rem;
  }
  .game_result_header > h5{
    font-size: 2.5rem;
  }
  .result_name_header > h5{
    font-size: 2.5rem;
  }
  .result_stats > h5{
    font-size: 2.5rem;
  }
  .result_p1_pts > h5{
    font-size: 2.5rem;
  }
  .result_p2_pts > h5{
    font-size: 2.5rem;
  }
  .scoreboard_nextbt > button{
    font-size: 2.5rem;
  }
  .scoreboard_p1 > h5{
    font-size: 2.5rem;
  }
  .scoreboard_p2 > h5{
    font-size: 2.5rem;
  }
  .podium_2nd_place > h5{
    font-size: 2.5rem;
  }
  .podium_1st_place > h5{
    font-size: 2.5rem;
  }
  .podium_gold_medal{
    margin-right: 1rem;
    height: 100px;
    width: 100px;
  }
  .podium_silver_medal{
    margin-right: 1rem;
    height: 100px;
    width: 100px;
  }
  .first_place_boxed > h5{
    font-size: 2.5rem;
  }
  .second_place_boxed > h5{
    font-size: 2.5rem;
  }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  .p-main{
    padding: 5rem 25rem 5rem 25rem;
  }
  .p-footer{
    padding: .5rem 2rem .5rem 2rem;
  }
  .game_details_main > h5{
    font-size: 2rem;
  }
  .game_answering_header > h5{
    font-size: 3rem;
  }
  .game_result_header > h5{
    font-size: 3rem;
  }
  .podium_gold_medal{
    margin-right: 1rem;
    height: 100px;
    width: 100px;
  }
  .podium_silver_medal{
    margin-right: 1rem;
    height: 100px;
    width: 100px;
  }
}
